
.button {
  display: flex;
  justify-content: space-between;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.btnOk{
  background: url("../../../render/ok.png") no-repeat 0 0;
  width: 35px;
  height: 35px;

}
.btnDel{
  background: url("../../../render/del.png") no-repeat 0 0;
  width: 35px;
  height: 35px;
  
}